body {
    background-color: #171717;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: left;
}

.container {
    max-width: 800px;
    width: 100%;
    border-left: 3px solid #666666;
    padding-left: 60px; /* Increased left padding */
    padding-top: 20px;  /* Added padding for better spacing */
    padding-bottom: 20px;  /* Added padding for better spacing */
}

h1 {
    font-size: 2.2em; /* Reduced font size */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #7F66FF;
}

h2 {
    font-size: 1.2em; /* Reduced font size */
    margin-top: 40px; /* Added margin for spacing between sections */
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;  /* Reduced font size */
    line-height: 1.5;
    margin-bottom: 20px;
    padding-right: 10%;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
    .container {
        padding-left: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    .content p {
        font-size: 0.9em;
        padding-right: 5%;
    }
}
