body {
    background-color: #7F66FF;
    color: white;
    font-family: 'FigTree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'FigTree', sans-serif;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0 15%; /* Added horizontal padding to reduce width */
}

.branded-button {
    display: inline-block;
    padding: 16px 32px; /* Increased padding to make it more capsule-like */
    background-color: white; /* Changed to white */
    color: #7F66FF; /* Changed to the background color */
    border: none;
    border-radius: 50px; /* Increased to give a capsule appearance */
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 10 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.branded-button:hover {
    background-color: #eee; /* Slightly darker white for hover effect */
    color: #7F66FF;
}

.logo-container {
    width: 50%;
    max-width: 480px;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.appstore-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    transition: none;
    text-align: center; /* This will help in centering the image inside the button */
}

/*.button-container {
    display: inline-block;
}

.button-container img {
    display: block;
    width: 30%;
    max-width: 320px;
    height: auto;
}*/

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensuring it takes full width to center the image properly */
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em; /* Kept the same title size for mobile */
    }
    
    p {
        font-size: 1.4em; /* Increased text size for better mobile readability */
    }
    
    .branded-button {
        padding: 12px 26px; /* Made the button a bit larger for easier tapping */
        font-size: 1.1em;  /* Made font size a bit larger for clarity */
    }

   /* .logo {
        width: 100%;
        max-width: none;
    }*/
}