body {
    background-color: #7F66FF;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0 15%; /* Added horizontal padding to reduce width */
}

.appstore-button {
    display: inline-block;
    padding: 16px 32px; /* Increased padding to make it more capsule-like */
    background-color: white; /* Changed to white */
    color: #7F66FF; /* Changed to the background color */
    border: none;
    border-radius: 50px; /* Increased to give a capsule appearance */
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 10 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.appstore-button:hover {
    background-color: #eee; /* Slightly darker white for hover effect */
    color: #7F66FF;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em; /* Reduce title size for mobile */
    }
    
    p {
        font-size: 1em; /* Adjust text size for mobile */
    }
    
    .appstore-button {
        padding: 8px 20px; /* Slightly smaller button for mobile */
        font-size: 0.9em;
    }
}